a:hover{
    text-decoration: none;
}

.icon{
    font-size: 22px;
    cursor: pointer;
}
.icon:hover{
    color: #F2B441;
}
label{
    color: #262626;
}
.header{
    color: #262626;
}
.navigation {
    background-color: #262626;
    color: #F2B441;
    position: fixed;
    font-size: 26px;
    z-index: 1;
}

.navigation i{
    color: inherit;
}

.navigation a{
    display: block;
    color: #F2B441;
}

.navigation a:hover:not(.active){
    background-color: rgba(242, 180, 65, 0.71);
    color: rgba(38, 38, 38, 0.91);
}

.navigation .active{
    background-color: #F2B441;
    color: #262626;
}

.wrapper-link {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    padding-bottom: 50px;
}

@media (max-width: 768px) {
    .navigation{
        height: 50px;
        width: 100vw;
    }
    nav a{
        width: 25vw;
        height: 50px;
    }
    .navigation nav{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        width: inherit;
        height: inherit;
    }
    .main {
        padding-top: 50px;
    }
}

@media (min-width: 769px) {
    .navigation{
        height: 100vh;
        width: 50px;
    }
    nav a{
        width: 50px;
        height: 80px;
    }
    .navigation nav{
        width: inherit;
        height: inherit;
    }
    .main {
        padding-left: 50px;
    }
}
